@font-face {
  font-family:"Fenix-Regular";
  src: url("./Fenix/Fenix-Regular.ttf");
}

body {
  font-family: 'IvarTxt', 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191e21;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
