.experience-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: auto; */
    /* grid-template-areas:
        "title-grid experience-list"; */
    /* grid-auto-flow: row; */
    border-top: solid 1px #293036;
    padding-top: 10px;
    /* font-family: "Merriweather"; */
    border-bottom: solid 1px #293036;
    margin-bottom: 50px;
}

/* .title-grid {
    grid-area: title-grid;
    align-self: start;
}

.experience-list {
    grid-area: experience-list;
    align-self: stretch;
}*/

.experience-item {
    color: #e9edf0;
    /* display: block; */
    margin: 10px;
    /* border-bottom: solid 1px #293036; */
}

.experience-role {
    padding: 0px;
    margin: 0px;
    color: #e9edf0;
}

.experience-time {
    color: #8acaab;
}

.section-title {
    color: #e9edf0;
    /* grid-column: 1;
    grid-row: 1; */
    padding: 0px;
    margin: 0px;
}

h1 {
    /* margin: 0px; */
    /* font-size: 4vw; */
}

/* .experience-item-a {
    grid-column: 2;
    grid-row: 1;
}

.experience-item-b {
    grid-column: 2;
    grid-row: 2;
}

.experience-item-c {
    grid-column: 2;
    grid-row: 3;
}

.experience-item-d {
    grid-column: 2;
    grid-row: 4;
} */
