/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "left-column right-column"
        "left-column right-column";
    gap: 40px 40px;
    place-items: stretch stretch;
    justify-content: space-evenly;
    align-content: space-evenly;
} */

/* .left-column-grid {
    grid-area: left-column;
    background-color: white;
}

.right-column-grid {
    grid-area: right-column;
    background-color: white;
} */

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
    color: #444;
}

.projects-container-item {
    border-radius: 5px;
    background-color: #8acaab;
    box-shadow: var(--boxShadow);
    border: solid 1px black;
    color: white
    /* padding: 16px; */
    /* display: flex;
    flex-flow: column nowrap;
    transition: .2s ease-in-out; */
    /* z-index: 1; */
    /* justify-self: stretch; */
}

.projects-title {
    grid-row: 1;
    grid-column: 1;
}

.projects-container-item-a {
    grid-row: 2;
    grid-column: 1;
}

.projects-container-item-b {
    grid-row: 2;
    grid-column: 2;
}

