/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "left-column right-column"
        "left-column right-column";
    gap: 40px 40px;
    place-items: stretch stretch;
    justify-content: space-evenly;
    align-content: space-evenly;
} */

/* .left-column-grid {
    grid-area: left-column;
    background-color: white;
}

.right-column-grid {
    grid-area: right-column;
    background-color: white;
} */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 10px;
    color: #444;
}

.projects-container {
    color: #e9edf0;
    border-top: solid 1px #293036;
}

.projects-grid-item {
    border-radius: 5px;
    border: solid 1px #8acaab;
}

.projects-container-item-a {
    grid-row: 1;
    grid-column: 1;
}

.projects-container-item-b {
    grid-row: 1;
    grid-column: 2;
}

.go-logo {
    max-width: 35%;
    object-fit: none;
    /* padding-left: 5px; */
}
