.footer-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px;
    /* border-top: solid 1px #878e96; */
    color: #e9edf0;
    margin-top: 50px;
}

.footer-grid-item {
    font-weight: bold;
}

.footer-grid-item-c {
    justify-self: end;
}

.footer-grid-item-d {
    justify-self: end;
}