/* grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* grid-template-areas:
      ". namebox ."; */
  }
  
  .grid-item {
    /* grid-area: namebox; */
    /* grid-column-start: 1; */
    background-color: red;
  }
  
  .coffee-pic {
    padding: 1fr;
    max-width: 40%;
  }
  